MediaCMS.site = {
    id: 'blue-penny',
    title: "{{PORTAL_NAME}}",
    url: '{{FRONTEND_HOST}}',
    api: '{{FRONTEND_HOST}}/api/v1',
    useRoundedCorners: {% if USE_ROUNDED_CORNERS %}true{% else %}false{% endif %},
    version: '{{VERSION}}',
    theme: {
        mode: '{{DEFAULT_THEME}}',
        switch: {
            position: 'sidebar',
        },
    },
    logo: {
        lightMode: {
            img: "{{PORTAL_LOGO_DARK_PNG}}",
            svg: "{{PORTAL_LOGO_DARK_SVG}}",
        },
        darkMode: {
            img: "{{PORTAL_LOGO_LIGHT_PNG}}",
            svg: "{{PORTAL_LOGO_LIGHT_SVG}}",
        },
    },
    pages: {
        latest: {
            title: 'New Episodes',
        },
        featured: {
            title: 'Featured',
        },
        recommended: {
            title: 'For You',
        },
        members: {
            title: 'Studio Members',
        },
    },
    userPages: {
        liked: {
            title: 'My List',
        },
        history: {
            title: 'Continue Watching',
        },
    },
    taxonomies: {
        tags: {
            title: 'Genres',
        },
        categories: {
            title: 'Shows',
        },
    },
};
